orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

menu "MCM - Device Status Configuration"

    config LED_HEARTBEAT
        int "Heartbeat LED pin number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
        default 11
        help
            GPIO number for heartbeat LED pin.

    config LED_STATUS
        int "STATUS LED pin number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
        default 12
        help
            GPIO number for STATUS LED pin.

endmenu
