#
# LWIP
#
CONFIG_LWIP_LOCAL_HOSTNAME="mcm-lin"

#
# DHCP server
#
CONFIG_LWIP_DHCPS=n

#
# ESP HTTPS server
#
CONFIG_ESP_HTTPS_SERVER_ENABLE=y

#
# HTTP Server
#
CONFIG_HTTPD_WS_SUPPORT=y

CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_SPIFFS_OBJ_NAME_LEN=64
CONFIG_FATFS_LFN_HEAP=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_LWIP_MAX_SOCKETS=16

#
# ESP PSRAM
#
CONFIG_SPIRAM=y

#
# SPI RAM config
#
CONFIG_SPIRAM_MODE_OCT=y

#
# Ethernet
#
CONFIG_ETH_ENABLED=n

#
# mbedTLS
#
CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC=y
CONFIG_MBEDTLS_TLS_SERVER_ONLY=y
CONFIG_MBEDTLS_SSL_PROTO_TLS1_2=y
CONFIG_MBEDTLS_SSL_PROTO_TLS1_3=n

#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=200
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=y

#
# Ultra Low Power (ULP) Co-processor
#
# CONFIG_ULP_COPROC_ENABLED=y

#
# USB-OTG
#
CONFIG_USB_OTG_SUPPORTED=n

#
# TinyUSB Stack
#
CONFIG_TINYUSB_DEBUG_LEVEL=0
CONFIG_TINYUSB_VENDOR_COUNT=1

#
# Communication Device Class (CDC)
#
CONFIG_TINYUSB_CDC_ENABLED=n

#
# Human Interface Device Class (HID)
#
CONFIG_TINYUSB_HID_COUNT=0

#
# Bootloader config
#
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

#
# MCM - PPM Bootloader Configuration
#
CONFIG_PPM_BOOTLOADER_RX=47
CONFIG_PPM_BOOTLOADER_TX=48
CONFIG_PPM_BOOTLOADER_TX_INVERT=n
# CONFIG_RMT_ISR_IRAM_SAFE=n
# CONFIG_RMT_RECV_FUNC_IN_IRAM=n
# CONFIG_RMT_ENABLE_DEBUG_LOG=n
